*{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 3rem;
}
p{
    color: rgb(164 167 170);
    font-size: 17px;
}
.wraper{
    margin: auto;
   max-width: 960px;   

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.button-free{
    background-color: white;
        border: solid 1px white;
        border-radius: 2em;
        box-shadow: 0px 0px 4px #0000003d;
        font-family: arial,sans-serif;
        font-weight: bold;
        padding: 10px 3em;
}

/* section one */
.section-one{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    background-image: url("../img/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.container-letters{   
    
    text-align: center;
    padding: 20px;
    position: relative;
 
  height: 17em;
}

.title{
  
    font-size: 44px;
   text-align: start;


}

.text-normal{
    margin-bottom: 20px;
    width: 26em; 
    padding-top: 20px;
    font-size: 18px;
     text-align: start;
    
    padding: 5px;
    
  
}

.button-pink-uno{
    background-color: rgb(255 85 204);
    border: solid 1px rgb(255 85 204);
    border-radius: 2em;
    color: white;
    padding: 10px 1em;
    width: 200px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 19px;

}

.container-img img{
 width: 100%;
}
  .img-logo{
    
    width: 34em;
    height: 400px;
    
  }

  .img-l{
    width: 19em;
    height: auto;
    padding: 60px;
  }
  

  /* grip */

  .caja-dos{
    /* border: solid; */
    margin: auto;
    width: 955px;
    height: 900px;
    display: flex;
    justify-content: center;
   
  }

.container-uno{
 display: grid;
  grid-gap: 1rem;
  grid-template-columns: 800px ;
  grid-template-rows: 270px 270px 270px;
  padding: 20px;
}
/*  */
.cuadrado-uno{
  border: 2px solid rgb(226, 224, 224);
  border-radius: 10px;
  position: relative;
  padding: 20px;
}

.txt-uno{
  
  width: 25em;
  text-align: start;
  position: absolute;
  bottom: 65px;
  font-size: 15px;
}

.img-uno{
  
  width: 35%;
  position: absolute;
  right: 0;
}
/*  */
.cuadrado-dos{
  border: 2px solid rgb(226, 224, 224);
  border-radius: 10px;
  position: relative;
  padding: 20px;
}

.txt-dos{
 
  width: 25em;
  /* text-align: end; */
  position: absolute;
  bottom: 65px;
  font-size: 15px;
  right: 0;
}

.img-dos{
 
  width: 35%;
  position: absolute;
  left: 0;
}

.titulo-uno{
  font-size: 35px;
}

/*  */

  /* fooer */
   .footer{
    border: solid red;
    margin: auto;
    width: 955px;
    height: 350px;
  }